@import 'variables';

.dog-details{
  padding: $spacing;
  border: 2px solid $border-color;
}

.dog-details__list{
  display: flex;
  flex-wrap: wrap;

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    flex-direction: row;
    .dog-details__image {
      height: auto;
      width: 100%;
      img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
      }
    }
  }

  .dog-details__image{
    height: 300px;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &:hover img{
      opacity: .6;
      z-index: -2;
    }
    &:hover .dog-details__description{
      z-index: 1;
    }
    img{
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      vertical-align: bottom;
      transition: .2s;
    }
    .dog-details__description{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: $spacing 0;
      text-align: center;
      color: darken($text-color, 10%);
      background-color: #fff;
      font-size: 30px;
      letter-spacing: 3px;
      z-index: -1;
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
    }
  }
}