@import 'variables';

.header-container{
  display: flex;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  input{
    flex-grow: 1;
    height: 40px;
    font-size: 30px;
    line-height: 30px;
    padding: 3px;
    margin-left: 17px;
    margin-top: 10px;
    text-align: center;
    border:1px solid #704d4d;
    font-family: 'Akaya Kanadaka', cursive;
    transition: .1s;
    color: $text-color;
    &::placeholder{
      color: $text-color;
      opacity: 0.4;
    }
    &::-ms-input-placeholder{
      color: $text-color;
      opacity: 0.4;
    }
    &:focus {
      outline: none !important;
      border:1px solid $text-color;
    }
  }
}

h1{
  margin: $spacing auto;
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
  color: $text-color;
  text-align: center;
}

h2{
  margin: $spacing auto;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 40px;
  color: lighten($text-color,10%);
}